<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReportImportOneMapper">

	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	
	
	<insert id="addPregnantHealth" parameterType="pd" flushCache="false">
		INSERT INTO r_pregnant_health (
		  city,
		  reporttime,
		  livebirthcount,
		  livebirthman,
		  livebirthwoman,
		  livebirthsexun,
		  livebirthfarm,
		  pregnantcount,
		  pregnantunfarm,
		  pregnantfarm,
		  opencard,
		  antenatalcount,
		  antenatalupfive,
		  earlyantenatal,
		  proteinexam,
		  lesshundred,
		  lesseighty,
		  hivexam,
		  hiv,
		  syphilisexam,
		  syphilis,
		  hepatitisb,
		  positive,
		  screen,
		  highrisk,
		  diagnose,
		  bediagnose,
		  visit,
		  systemmanage,
		  hpchildbirthlive,
		  childbirthfarm,
		  caesareansection,
		  unhpchildbirthlive,
		  hrp,
		  hrpmanage,
		  hrphpbirth,
		  pd,
		  pdbleed,
		  pdhighblood,
		  pdmedicalcomplication,
		  pdAFE,
		  pdother,
		  pplessttf,
		  ppmoreft,
		  pplesstsweek,
		  ppdiebirth,
		  ppnbd,
		  ppnbdman,
		  ppnbdwoman,
		  ppnbdsexun,
		  newBirthTAT,
		  newbirthTATdie
		) 
		VALUES
		  (
		    #{p0},
		    #{reporttime},
		    #{p1},
		    #{p2},
		    #{p3},
		    #{p4},
		    #{p5},
		    #{p6},
		    #{p7},
		    #{p8},
		    #{p9},
		    #{p10},
		    #{p11},
		    #{p12},
		    #{p13},
		    #{p14},
		    #{p15},
		    #{p16},
		    #{p17},
		    #{p18},
		    #{p19},
		    #{p20},
		    #{p21},
		    #{p22},
		    #{p23},
		    #{p24},
		    #{p25},
		    #{p26},
		    #{p27},
		    #{p28},
		    #{p29},
		    #{p30},
		    #{p31},
		    #{p32},
		    #{p33},
		    #{p34},
		    #{p35},
		    #{p36},
		    #{p37},
		    #{p38},
		    #{p39},
		    #{p40},
		    #{p41},
		    #{p42},
		    #{p43},
		    #{p44},
		    #{p45},
		    #{p46},
		    #{p47},
		    #{p48},
		    #{p49},
		    #{p50}
		  ) ;
	</insert>
	
	<!-- 妇女常见病筛查情况年报表c -->
	<insert id="addGynecologicalDisease" parameterType="map" flushCache="false">
		INSERT INTO r_gynecological_disease (
			  reporttime,
			  area,
			  number,
			  shouldcheck,
			  actualcheck,
			  cervicalcancerscreening,
			  breastcancerscreening,
			  commondisease,
			  coleitis,
			  cervicitis,
			  condyloma,
			  fibroid,
			  cervicalcancer,
			  cervicalcancerdead,
			  breastcancer,
			  breastcancerdead,
			  oophoroma
			) 
			VALUES
			  (
			    #{reporttime},
			    #{p1},
			    #{p2},
			    #{p3},
			    #{p4},
			    #{p5},
			    #{p6},
			    #{p7},
			    #{p8},
			    #{p9},
			    #{p10},
			    #{p11},
			    #{p12},
			    #{p13},
			    #{p14},
			    #{p15},
			    #{p16}
			  );
	</insert>
	<!-- 计划生育技术服务数量和质量情况年报表c -->
	<insert id="addBirthServeQuality" parameterType="map" flushCache="false">
		INSERT INTO r_birth_servequality (
		  reporttime,
		  city,
		  servetotal,
		  iu,
		  iuperforation,
		  iuinfect,
		  ou,
		  ouperforation,
		  ouinfect,
		  dsseminiferous,
		  dsscrotum,
		  dssinfect,
		  dsoviduct,
		  dsintestinaltract,
		  dsbladdertract,
		  dsoinfect,
		  np,
		  npperforation,
		  npstreampeople,
		  npinfect,
		  curettage,
		  cperforation,
		  cstreampeople,
		  cinfect,
		  drugstreampeople,
		  narcosisstreampeople,
		  placesubcutaneous,
		  outsubcutaneous,
		  perforationfit,
		  oviductfit
		) 
		VALUES
		  (
		    #{reporttime},
		    #{p1},
		    #{p2},
		    #{p3},
		    #{p4},
		    #{p5},
		    #{p6},
		    #{p7},
		    #{p8},
		    #{p9},
		    #{p10},
		    #{p11},
		    #{p12},
		    #{p13},
		    #{p14},
		    #{p15},
		    #{p16},
		    #{p17},
		    #{p18},
		    #{p19},
		    #{p20},
		    #{p21},
		    #{p22},
		    #{p23},
		    #{p24},
		    #{p25},
		    #{p26},
		    #{p27},
		    #{p28},
		    #{p29}
		  ) ;
	</insert>
	<!-- 中期引产情况年报表c -->
	<insert id="addMidtermInduced" parameterType="map" flushCache="false">
		INSERT INTO r_midterminduced (
		  reporttime,
		  area,
		  number,
		  bman,
		  bwoman,
		  bunsex,
		  uterinerupture,
		  uterineperforation,
		  influence,
		  number_hl,
		  man_hl,
		  woman_hl,
		  sex_hl,
		  uterinerupture_hl,
		  uterineperforation_hl,
		  influence_hl
		) 
		VALUES
		  (
		    #{reporttime},
		    #{p1},
		    #{p2},
		    #{p3},
		    #{p4},
		    #{p5},
		    #{p6},
		    #{p7},
		    #{p8},
		    #{p9},
		    #{p10},
		    #{p11},
		    #{p12},
		    #{p13},
		    #{p14},
		    #{p15}
		  ) ;
	</insert>
	<!-- 计划生育咨询随访服务情况表c -->
	<insert id="addBirthConsult" parameterType="map" flushCache="false">
		INSERT INTO r_birth_consult (
		  reporttime,
		  area,
		  visitconsult,
		  outpatientconsult,
		  checkring,
		  checkpregnant,
		  follow,
		  providebirthct,
		  xvisitconsult,
		  xoutpatientconsult,
		  xcheckring,
		  xcheckpregnant,
		  xfollow,
		  xprovidebirthct
		) 
		VALUES
		  (
		    #{reporttime},
		     #{p1},
		    #{p2},
		    #{p3},
		    #{p4},
		    #{p5},
		    #{p6},
		    #{p7},
		    #{p8},
		    #{p9},
		    #{p10},
		    #{p11},
		    #{p12},
		    #{p13}
		  ) ;
	</insert>
	<!-- 基层妇幼保健基本情况年报表c -->
	<insert id="addWomenChildrenHealth" parameterType="map" flushCache="false">
		INSERT INTO r_womenchildren_health (
		  reporttime,
		  city,
		  totalperson,
		  birthage,
		  towncount,
		  townhptotal,
		  centerhp,
		  areahp,
		  whhealthtotal,
		  delivertechnology,
		  birthcontrolope,
		  beforebirthscreen,
		  deputydc,
		  maindc,
		  doctor,
		  assistantdc,
		  feldsher,
		  deliverdc,
		  deputynurse,
		  mainnurse,
		  nurse,
		  towntrain,
		  admintown,
		  areacount,
		  towndc,
		  towndcwoman,
		  townhealthperson,
		  towndchealth,
		  towndctrain,
		  delivercard
		) 
		VALUES
		  (
		    #{reporttime},
		    #{p1},
		    #{p2},
		    #{p3},
		    #{p4},
		    #{p5},
		    #{p6},
		    #{p7},
		    #{p8},
		    #{p9},
		    #{p10},
		    #{p11},
		    #{p12},
		    #{p13},
		    #{p14},
		    #{p15},
		    #{p16},
		    #{p17},
		    #{p18},
		    #{p19},
		    #{p20},
		    #{p21},
		    #{p22},
		    #{p23},
		    #{p24},
		    #{p25},
		    #{p26},
		    #{p27},
		    #{p28},
		    #{p29}
		  ) ;
	</insert>
	
	<!-- 七岁以下儿童保健和健康情况年报表c -->
	<insert id="addChildrenHealth" parameterType="map" flushCache="false">
		INSERT INTO r_children_health (
		  city,
		  reporttime,
		  sevenyo,
		  fiveyo,
		  threeyo,
		  fd,
		  fdman,
		  fdwoman,
		  fdnosex,
		  bd,
		  bdman,
		  bdwoman,
		  bdnosex,
		  nbd,
		  nbdman,
		  nbdwoman,
		  nbdnosex,
		  surveyperson,
		  breastfeed,
		  onlybreastfeed,
		  nbdvisit,
		  puk,
		  thyroid,
		  hearing,
		  sevenhealthma,
		  threehealthma,
		  checkperson,
		  weight,
		  heightlessmid,
		  heightmoremid,
		  heightgreatmid,
		  bloodcheck,
		  bloodlessh,
		  bloodlessn
		) 
		VALUES
		  (
		    #{p1},
		    #{reporttime},
		    #{p2},
		    #{p3},
		    #{p4},
		    #{p5},
		    #{p6},
		    #{p7},
		    #{p8},
		    #{p9},
		    #{p10},
		    #{p11},
		    #{p12},
		    #{p13},
		    #{p14},
		    #{p15},
		    #{p16},
		    #{p17},
		    #{p18},
		    #{p19},
		    #{p20},
		    #{p21},
		    #{p22},
		    #{p23},
		    #{p24},
		    #{p25},
		    #{p26},
		    #{p27},
		    #{p28},
		    #{p29},
		    #{p30},
		    #{p31},
		    #{p32},
		    #{p33}
		  ) ;
	</insert>
	<!-- 儿童与孕产妇健康状况月报表c -->
	<insert id="addChildPregnantHealthMonth" parameterType="map" flushCache="false">
		INSERT INTO r_childpregnant_healthmonth (
		  city,
		  reporttime,
		  blife,
		  blifeman,
		  blifewoman,
		  blifenosex,
		  fd,
		  fdman,
		  fdwoman,
		  fdnosex,
		  bd,
		  bdman,
		  bdwoman,
		  bdnosex,
		  nbd,
		  nbdman,
		  nbdwoman,
		  nbdnosex,
		  enbd,
		  enbdman,
		  enbdwoman,
		  enbdnosex,
		  pregnantdie,
		  beforebirthdie
		) 
		VALUES
		  (
		    #{p1},
		    #{reporttime},
		    #{p2},
		    #{p3},
		    #{p4},
		    #{p5},
		    #{p6},
		    #{p7},
		    #{p8},
		    #{p9},
		    #{p10},
		    #{p11},
		    #{p12},
		    #{p13},
		    #{p14},
		    #{p15},
		    #{p16},
		    #{p17},
		    #{p18},
		    #{p19},
		    #{p20},
		    #{p21},
		    #{p22},
		    #{p23}
		  ) ;
	</insert>
	
	<!-- 儿童与孕产妇健康状况年报表 -->
	<insert id="addChildPregnantHealthYear" parameterType="map" flushCache="false">
		INSERT INTO r_childpregnant_healthyear (
		  city,
		  reporttime,
		  blife,
		  blifeman,
		  blifewoman,
		  blifenosex,
		  fd,
		  fdman,
		  fdwoman,
		  fdnosex,
		  bd,
		  bdman,
		  bdwoman,
		  bdnosex,
		  nbd,
		  nbdman,
		  nbdwoman,
		  nbdnosex,
		  enbd,
		  enbdman,
		  enbdwoman,
		  enbdnosex,
		  pregnantdie,
		  beforebirthdie
		) 
		VALUES
		  (
		    #{p1},
		    #{reporttime},
		    #{p2},
		    #{p3},
		    #{p4},
		    #{p5},
		    #{p6},
		    #{p7},
		    #{p8},
		    #{p9},
		    #{p10},
		    #{p11},
		    #{p12},
		    #{p13},
		    #{p14},
		    #{p15},
		    #{p16},
		    #{p17},
		    #{p18},
		    #{p19},
		    #{p20},
		    #{p21},
		    #{p22},
		    #{p23}
		  ) ;
				
	</insert>
</mapper>